body {
    font-family: Arial;
    background: #1b2a1f;
    color: white;
    text-align: center;
}

/* TELA INICIAL */
.tela-inicial {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    color: #6bff6b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* INPUT */
#nomeJogador {
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
}

#btnIniciar {
    margin-top: 10px;
    padding: 10px 20px;
    background: #6b8e23;
    border: none;
    color: white;
    cursor: pointer;
}

#btnIniciar:hover {
    background: #556b2f;
}

/* QUIZ */
.caixa-principal {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #2f3e2f;
    border-radius: 10px;
}

/* BARRA */
.barra-progresso {
    height: 10px;
    background: #111;
    margin: 15px 0;
}

.progresso {
    height: 100%;
    width: 0%;
    background: #6b8e23;
}

/* BOTÕES */
button {
    width: 100%;
    padding: 12px;
    margin: 5px;
    background: #556b2f;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #6b8e23;
    transform: scale(1.03);
}

button:active {
    transform: scale(0.95);
}

/* ACERTO / ERRO */
.correta {
    background: #2ecc71 !important;
}

.errada {
    background: #e74c3c !important;
}

/* ANIMAÇÃO GUERRA */
.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {transform: translate(0,0);}
    25% {transform: translate(5px,-5px);}
    50% {transform: translate(-5px,5px);}
    75% {transform: translate(5px,5px);}
    100% {transform: translate(0,0);}
}

.flash {
    background: white !important;
}

/* RESULTADO */
.missao {
    font-size: 2rem;
    color: #6bff6b;
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% {opacity:1;}
    50% {opacity:0.3;}
    100% {opacity:1;}
}

/* RANKING */
.ranking {
    margin-top: 20px;
}
